* {
  box-sizing: content-box;          
}

#menu-btn{
	position: relative;
	float: right;
	margin-right: 15px;
	padding: 9px 10px;
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	border-color: #333;
}

#menu-btn:hover{
	background-color: #333;
}

#menu-btn .icon-bar{
	background-color: #fff;
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
}
#menu-btn .icon-bar:not(:first-child){
	margin-top: 4px;
}

#menu-bar{
	background-color: #BDBDBD;
	color: #fff;
}
#menu-bar h3{
	background-color: #2E2E2E;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
}
#menu-bar a{
	border-bottom: 1px solid #D8D8D8;
	padding: 1em;
	display: block;
	color: #424242;
	font-size: 1.4em;
	font-weight: 300;
	text-decoration: none;
}
#menu-bar a:hover{
	background-color: #D8D8D8;
}

#download-bar{
	background-color: #E6E6E6;
	padding: 10px;
	box-shadow: 10px 0 15px -6px #585858 inset;
}

#download-bar div.well{
	margin-top: 10px;
}

.side-panel{
	background-color: #E6E6E6;
	padding: 10px;
}

.side-panel-left{
	box-shadow: -5px 0 15px -6px #585858 inset;
}

.side-panel-right{
	box-shadow: 5px 0 15px -6px #585858 inset;
}

.jumbotron{
	margin-bottom: 0px;
}

.navbar{
	border-radius: 0px;
	margin-bottom: 0px;
}

section{
	padding-top: 20px;
}

#sample-1-btn{
	margin-bottom: 10px;
}